
<div class="modalCont">
    <form (ngSubmit)="submitForm()" #form="ngForm">
      <div class="cont-input1" style="display: flex; justify-content: space-between;">
        <input type="text" [(ngModel)]="formData.Nombre" name="Nombre" placeholder="Nombre" required style="flex: 1; margin-right: 5px;">
        <input type="text" [(ngModel)]="formData.Apellido" name="Apellido" placeholder="Apellido" required style="flex: 1;">
      </div>
      <div>
        <input type="email" [(ngModel)]="formData.email" name="email" placeholder="Email" required>
      </div>
      <div>
        <input type="text" [(ngModel)]="formData.DNI" name="DNI" placeholder="DNI" required>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>